In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('df.csv')

In [5]:
people = ['Eddie', 'Gogo', 'MrPink', 'MrWhite', 'MrBlue', 'Joe', 'ORen', 'MrBlonde', 
          'Hattori', 'MrOrange', 'MrBrown', 'Pluribus', 'Bill', 'Budd']
games = [30, 106, 109, 108, 42, 40, 41, 43, 114, 112, 111, 53, 52, 110, 99, 50, 76, 100, 51, 
        103, 44, 75, 77, 113, 88, 64, 94, 98, 63, 96, 95, 60, 61, 45, 118, 97, 62, 78, 
        70, 73, 65, 117, 115, 89, 116, 71, 85, 86, 72, 83, 102, 104, 84, 101, 32, 33, 
        34, 91, 90, 93, 31, 35, 92, 107, 105, 87, 74]

data = []
# loop people
for player in people:
  # loop games
  for game in games:
    df_player_game = df[(df['game']==game) & (df['player']==player)]
    total_hands = df_player_game[df_player_game['preflop_action']!='f'].shape[0]
    total_hands_won = df_player_game[df_player_game['outcome']>0].shape[0]
    #print(f'{player} total number of hands in game{game}:', df_player_game[df_player_game['preflop_action']!='f'].shape[0])
    #print(f'{player} total number of hands won in game{game}:', df_player_game[df_player_game['outcome']>0].shape[0])
    entry = []
    entry.append([player, game, total_hands, total_hands_won])
    data.extend(entry)

In [5]:
#data

In [6]:
DF = pd.DataFrame(data, columns=['player', 'game', 'total_hands', 'total_hands_won'])
DF

    player  game  total_hands  total_hands_won
0    Eddie    30           27               16
1    Eddie   106            0                0
2    Eddie   109            0                0
3    Eddie   108            0                0
4    Eddie    42           31               20
..     ...   ...          ...              ...
933   Budd    92           19               11
934   Budd   107            0                0
935   Budd   105            0                0
936   Budd    87            0                0
937   Budd    74            7                5

[938 rows x 4 columns]

In [23]:
DF.to_csv('total_number_of_hands.csv')

In [15]:
total_games = DF[(DF['player']=='Eddie') & (DF['total_hands']!=0)].shape[0]
total_games

39

In [19]:
total_hands_sum = DF[(DF['player']=='Eddie') & (DF['total_hands']!=0)].sum()['total_hands']
total_hands_sum

1613

In [21]:
average_hands_per_game = total_hands_sum / total_games
average_hands_per_game

41.35897435897436