# Summary Statistics

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('df.csv')

In [3]:
people = ['Eddie', 'Gogo', 'MrPink', 'MrWhite', 'MrBlue', 'Joe', 'ORen', 'MrBlonde', 
          'Hattori', 'MrOrange', 'MrBrown', 'Pluribus', 'Bill', 'Budd']

games = [30, 31, 32, 33, 34, 35, 40, 41, 42, 43, 44, 45, 50, 51, 52, 53, 60, 61, 62, 63, 64, 65, 
         70, 71, 72, 73, 74, 75, 76, 77, 78, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 
         96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 
         114, 115, 116, 117, 118]

In [4]:
len(people)

14

In [5]:
len(games)

67

## Count Total Hands
- Total number of hands in one game
- Total number of hands won

### explore

In [6]:
df30 = df[df['game']==30]
df30.head(1)

,Unnamed: 0,player,game,hand,preflop_action,outcome,big_blind,small_blind,hole_cards,premium_hole,chen_rank,slansky_rank,start_stack,prev_outcome,prev_outcome_loss,preflop_fold,relative_start_stack,rank_start_stack,any_blind
8679,8679,Bill,30,0,r,150.0,False,False,AdKd,True,12,1,0.0,NaN,False,False,NaN,6.0,False

In [7]:
df30Eddie = df30[df30['player']=='Eddie']
df30Eddie

,Unnamed: 0,player,game,hand,preflop_action,outcome,big_blind,small_blind,hole_cards,premium_hole,chen_rank,slansky_rank,start_stack,prev_outcome,prev_outcome_loss,preflop_fold,relative_start_stack,rank_start_stack,any_blind
51110,51110,Eddie,30,0,f,0.0,False,False,2sQs,False,4,9,0.0,NaN,False,True,NaN,6.0,False
51111,51111,Eddie,30,1,f,0.0,False,False,7dTs,False,3,9,0.0,0.0,False,True,0.000000,4.0,False
51112,51112,Eddie,30,2,c,250.0,True,False,Jc4c,False,3,9,0.0,0.0,False,False,0.000000,4.0,True
51113,51113,Eddie,30,3,f,-50.0,False,True,JhKh,True,9,3,250.0,250.0,False,True,1.000000,1.0,True
51114,51114,Eddie,30,4,r,375.0,False,False,TdAh,False,6,6,200.0,-50.0,True,False,0.097561,2.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51184,51184,Eddie,30,74,c,900.0,True,False,As8s,False,7,5,2809.0,150.0,False,False,0.244261,2.0,True
51185,51185,Eddie,30,75,f,-50.0,False,True,6dTs,False,1,9,3709.0,900.0,False,True,0.323930,2.0,True
51186,51186,Eddie,30,76,f,0.0,False,False,4h3h,False,5,7,3659.0,-50.0,True,True,0.315431,2.0,False
51187,51187,Eddie,30,77,r,587.0,False,False,Ad2d,False,7,5,3659.0,0.0,False,False,0.315431,2.0,False
51188,51188,Eddie,30,78,f,0.0,False,False,Js7d,False,2,9,4246.0,587.0,False,True,0.366034,2.0,False

In [8]:
df30.columns

Index(['Unnamed: 0', 'player', 'game', 'hand', 'preflop_action', 'outcome',
       'big_blind', 'small_blind', 'hole_cards', 'premium_hole', 'chen_rank',
       'slansky_rank', 'start_stack', 'prev_outcome', 'prev_outcome_loss',
       'preflop_fold', 'relative_start_stack', 'rank_start_stack',
       'any_blind'],
      dtype='object')

In [9]:
# won this hand
df30Eddie_won = df30Eddie[df30Eddie['prev_outcome']>0]
df30Eddie_won.shape

(16, 19)

In [10]:
# won this game
df30.groupby('player').sum()

,Unnamed: 0,game,hand,outcome,big_blind,small_blind,premium_hole,chen_rank,slansky_rank,start_stack,prev_outcome,prev_outcome_loss,preflop_fold,relative_start_stack,rank_start_stack,any_blind
player,,,,,,,,,,,,,,,,
Bill,688722,2370,3081,-609.0,13.0,13.0,14.0,398,536,-51521.0,-609.0,26.0,49.0,-7.382892,318.0,26.0
Budd,2318492,2370,3081,11600.0,13.0,13.0,4.0,306,618,697250.0,11600.0,23.0,59.0,73.733333,96.0,26.0
Eddie,4040771,2370,3081,4246.0,13.0,13.0,6.0,340,596,108458.0,4246.0,26.0,52.0,12.176912,202.0,26.0
Gogo,4002693,2370,3081,-6612.0,14.0,13.0,6.0,285,623,-385722.0,-6512.0,28.0,57.0,-50.935599,419.0,27.0
MrWhite,1215336,2370,3081,-1462.0,13.0,14.0,6.0,276,623,42663.0,-1412.0,28.0,59.0,1.537970,263.0,27.0
Pluribus,2570186,2370,3081,-7163.0,13.0,13.0,2.0,340,594,-411128.0,-7313.0,24.0,59.0,-29.129724,382.0,26.0

In [11]:
def win_game(result):
    if result>0:
        return 1    # win
    if result<0:
        return 0  # lose

In [12]:
df30.groupby('player').sum()['start_stack'].apply(win_game)

player
Bill        0
Budd        1
Eddie       1
Gogo        0
MrWhite     1
Pluribus    0
Name: start_stack, dtype: int64

### loop

In [13]:
data = []
# loop people
for player in people:
  # loop games
  for game in games:
    # extract df
    df_player_game = df[(df['game']==game) & (df['player']==player)]
    # get variables
    total_hands = df_player_game.shape[0]
    total_hands_won = df_player_game[df_player_game['prev_outcome']>0].shape[0]
    # create new df
    entry = []
    if total_hands != 0:  # remove not played 
        entry.append([player, game, total_hands, total_hands_won])
    data.extend(entry)

In [14]:
#data

In [15]:
DF = pd.DataFrame(data, columns=['player', 'game', 'total_hands', 'total_hands_won'])
DF.head()

  player  game  total_hands  total_hands_won
0  Eddie    30           79               16
1  Eddie    31           72               14
2  Eddie    32           94               16
3  Eddie    33           87               12
4  Eddie    34           79               12

In [16]:
DF.groupby(['player']).sum()

          game  total_hands  total_hands_won
player
Bill      3330         6666             1167
Budd      1565         2486              411
Eddie     2610         6131             1061
Gogo       195          482               90
Hattori    380          700              117
Joe        841         1525              223
MrBlonde  1361         2545              387
MrBlue    4914         8679             1648
MrBrown    661         1805              297
MrOrange  3702         6036              785
MrPink    3544         6675             1116
MrWhite   3170         5383              838
ORen       302          552               86
Pluribus  5315         9933             1672

In [17]:
# total games played
DF.groupby(['player']).count()

          game  total_hands  total_hands_won
player
Bill        47           47               47
Budd        23           23               23
Eddie       39           39               39
Gogo         6            6                6
Hattori      5            5                5
Joe         10           10               10
MrBlonde    15           15               15
MrBlue      57           57               57
MrBrown     10           10               10
MrOrange    41           41               41
MrPink      40           40               40
MrWhite     38           38               38
ORen         4            4                4
Pluribus    67           67               67

In [18]:
# games won
df.groupby(['player','game']).sum()['start_stack'].apply(win_game).groupby('player').sum()

player
Bill        25
Budd        15
Eddie       19
Gogo         0
Hattori      4
Joe          2
MrBlonde     5
MrBlue      37
MrBrown      4
MrOrange    16
MrPink      21
MrWhite     17
ORen         0
Pluribus    30
Name: start_stack, dtype: int64

In [19]:
DF_summary = DF.groupby(['player']).describe()
DF_summary

          game                                                           \
         count       mean        std   min    25%    50%     75%    max
player
Bill      47.0  70.851064  26.075958  30.0  47.50   71.0   91.50  118.0
Budd      23.0  68.043478  22.634403  30.0  52.50   75.0   84.50   93.0
Eddie     39.0  66.923077  26.566089  30.0  43.50   63.0   91.50  114.0
Gogo       6.0  32.500000   1.870829  30.0  31.25   32.5   33.75   35.0
Hattori    5.0  76.000000   1.581139  74.0  75.00   76.0   77.00   78.0
Joe       10.0  84.100000  27.930270  60.0  62.25   64.5  115.75  118.0
MrBlonde  15.0  90.733333  24.656111  50.0  76.50  103.0  106.50  110.0
MrBlue    57.0  86.210526  22.163948  40.0  72.00   90.0  104.00  118.0
MrBrown   10.0  66.100000  30.508469  40.0  42.25   44.5  100.75  103.0
MrOrange  41.0  90.292683  19.677708  50.0  76.00   90.0  108.00  118.0
MrPink    40.0  88.600000  25.693260  40.0  63.75   98.5  108.25  118.0
MrWhite   38.0  83.421053  28.077722  30.0  59.25   93.5  104.75  114.0
ORen       4.0  75.500000   1.290994  74.0  74.75   75.5   76.25   77.0
Pluribus  67.0  79.328358  26.539501  30.0  60.50   85.0  101.50  118.0

         total_hands              ...                total_hands_won  \
               count        mean  ...     75%    max           count
player                            ...
Bill            47.0  141.829787  ...  169.50  234.0            47.0
Budd            23.0  108.086957  ...  137.50  184.0            23.0
Eddie           39.0  157.205128  ...  192.50  234.0            39.0
Gogo             6.0   80.333333  ...   85.00   94.0             6.0
Hattori          5.0  140.000000  ...  173.00  184.0             5.0
Joe             10.0  152.500000  ...  160.00  170.0            10.0
MrBlonde        15.0  169.666667  ...  200.50  291.0            15.0
MrBlue          57.0  152.263158  ...  177.00  291.0            57.0
MrBrown         10.0  180.500000  ...  219.25  234.0            10.0
MrOrange        41.0  147.219512  ...  192.00  291.0            41.0
MrPink          40.0  166.875000  ...  197.00  291.0            40.0
MrWhite         38.0  141.657895  ...  189.75  291.0            38.0
ORen             4.0  138.000000  ...  175.75  184.0             4.0
Pluribus        67.0  148.253731  ...  181.00  291.0            67.0


               mean        std   min    25%   50%    75%   max
player
Bill      24.829787   9.961489   7.0  17.00  24.0  29.50  51.0
Budd      17.869565   7.659245   5.0  11.50  18.0  23.50  32.0
Eddie     27.205128   8.829316   3.0  24.00  29.0  33.00  41.0
Gogo      15.000000   2.449490  12.0  13.00  16.0  16.00  18.0
Hattori   23.400000  11.631853   4.0  22.00  27.0  31.00  33.0
Joe       22.300000   5.271517  15.0  18.50  23.0  26.75  28.0
MrBlonde  25.800000  13.235234   5.0  17.00  23.0  33.00  54.0
MrBlue    28.912281  11.597846   3.0  22.00  28.0  38.00  61.0
MrBrown   29.700000   5.716448  19.0  27.75  31.0  32.50  38.0
MrOrange  19.146341   8.498709   2.0  12.00  20.0  25.00  40.0
MrPink    27.900000  10.247701   5.0  22.75  27.0  35.00  50.0
MrWhite   22.052632  12.100809   3.0  12.50  19.0  30.50  45.0
ORen      21.500000  14.387495   0.0  20.25  28.0  29.25  30.0
Pluribus  24.955224  11.216104   0.0  17.00  25.0  32.50  65.0

[14 rows x 24 columns]

In [20]:
#DF_summary.columns

In [21]:
DF_summary = DF_summary[[(    'total_hands',  'mean'),
            (    'total_hands',   'min'),
            (    'total_hands',   '50%'),
            (    'total_hands',   'max'),
            ('total_hands_won',  'mean'),
            ('total_hands_won',   'min'),
            ('total_hands_won',   '50%'),
            ('total_hands_won',   'max')]]
DF_summary

         total_hands                      total_hands_won
                mean    min    50%    max            mean   min   50%   max
player
Bill      141.829787   29.0  148.0  234.0       24.829787   7.0  24.0  51.0
Budd      108.086957   22.0  107.0  184.0       17.869565   5.0  18.0  32.0
Eddie     157.205128   29.0  166.0  234.0       27.205128   3.0  29.0  41.0
Gogo       80.333333   71.0   79.0   94.0       15.000000  12.0  16.0  18.0
Hattori   140.000000   22.0  173.0  184.0       23.400000   4.0  27.0  33.0
Joe       152.500000  131.0  155.5  170.0       22.300000  15.0  23.0  28.0
MrBlonde  169.666667   34.0  183.0  291.0       25.800000   5.0  23.0  54.0
MrBlue    152.263158   22.0  158.0  291.0       28.912281   3.0  28.0  61.0
MrBrown   180.500000   94.0  180.0  234.0       29.700000  19.0  31.0  38.0
MrOrange  147.219512   22.0  148.0  291.0       19.146341   2.0  20.0  40.0
MrPink    166.875000   29.0  168.0  291.0       27.900000   5.0  27.0  50.0
MrWhite   141.657895   34.0  137.0  291.0       22.052632   3.0  19.0  45.0
ORen      138.000000   22.0  173.0  184.0       21.500000   0.0  28.0  30.0
Pluribus  148.253731   22.0  157.0  291.0       24.955224   0.0  25.0  65.0

In [22]:
df_summary = pd.merge(DF.groupby(['player']).sum(), DF_summary, left_index=True, right_index=True)
df_summary

,game,total_hands,total_hands_won,"(total_hands, mean)","(total_hands, min)","(total_hands, 50%)","(total_hands, max)","(total_hands_won, mean)","(total_hands_won, min)","(total_hands_won, 50%)","(total_hands_won, max)"
player,,,,,,,,,,,
Bill,3330,6666,1167,141.829787,29.0,148.0,234.0,24.829787,7.0,24.0,51.0
Budd,1565,2486,411,108.086957,22.0,107.0,184.0,17.869565,5.0,18.0,32.0
Eddie,2610,6131,1061,157.205128,29.0,166.0,234.0,27.205128,3.0,29.0,41.0
Gogo,195,482,90,80.333333,71.0,79.0,94.0,15.000000,12.0,16.0,18.0
Hattori,380,700,117,140.000000,22.0,173.0,184.0,23.400000,4.0,27.0,33.0
Joe,841,1525,223,152.500000,131.0,155.5,170.0,22.300000,15.0,23.0,28.0
MrBlonde,1361,2545,387,169.666667,34.0,183.0,291.0,25.800000,5.0,23.0,54.0
MrBlue,4914,8679,1648,152.263158,22.0,158.0,291.0,28.912281,3.0,28.0,61.0
MrBrown,661,1805,297,180.500000,94.0,180.0,234.0,29.700000,19.0,31.0,38.0
MrOrange,3702,6036,785,147.219512,22.0,148.0,291.0,19.146341,2.0,20.0,40.0
MrPink,3544,6675,1116,166.875000,29.0,168.0,291.0,27.900000,5.0,27.0,50.0
MrWhite,3170,5383,838,141.657895,34.0,137.0,291.0,22.052632,3.0,19.0,45.0
ORen,302,552,86,138.000000,22.0,173.0,184.0,21.500000,0.0,28.0,30.0
Pluribus,5315,9933,1672,148.253731,22.0,157.0,291.0,24.955224,0.0,25.0,65.0

In [23]:
df_summary = pd.merge(DF.groupby(['player']).count(), df_summary, left_index=True, right_index=True)
df_summary

,game_x,total_hands_x,total_hands_won_x,game_y,total_hands_y,total_hands_won_y,"(total_hands, mean)","(total_hands, min)","(total_hands, 50%)","(total_hands, max)","(total_hands_won, mean)","(total_hands_won, min)","(total_hands_won, 50%)","(total_hands_won, max)"
player,,,,,,,,,,,,,,
Bill,47,47,47,3330,6666,1167,141.829787,29.0,148.0,234.0,24.829787,7.0,24.0,51.0
Budd,23,23,23,1565,2486,411,108.086957,22.0,107.0,184.0,17.869565,5.0,18.0,32.0
Eddie,39,39,39,2610,6131,1061,157.205128,29.0,166.0,234.0,27.205128,3.0,29.0,41.0
Gogo,6,6,6,195,482,90,80.333333,71.0,79.0,94.0,15.000000,12.0,16.0,18.0
Hattori,5,5,5,380,700,117,140.000000,22.0,173.0,184.0,23.400000,4.0,27.0,33.0
Joe,10,10,10,841,1525,223,152.500000,131.0,155.5,170.0,22.300000,15.0,23.0,28.0
MrBlonde,15,15,15,1361,2545,387,169.666667,34.0,183.0,291.0,25.800000,5.0,23.0,54.0
MrBlue,57,57,57,4914,8679,1648,152.263158,22.0,158.0,291.0,28.912281,3.0,28.0,61.0
MrBrown,10,10,10,661,1805,297,180.500000,94.0,180.0,234.0,29.700000,19.0,31.0,38.0
MrOrange,41,41,41,3702,6036,785,147.219512,22.0,148.0,291.0,19.146341,2.0,20.0,40.0
MrPink,40,40,40,3544,6675,1116,166.875000,29.0,168.0,291.0,27.900000,5.0,27.0,50.0
MrWhite,38,38,38,3170,5383,838,141.657895,34.0,137.0,291.0,22.052632,3.0,19.0,45.0
ORen,4,4,4,302,552,86,138.000000,22.0,173.0,184.0,21.500000,0.0,28.0,30.0
Pluribus,67,67,67,5315,9933,1672,148.253731,22.0,157.0,291.0,24.955224,0.0,25.0,65.0

In [24]:
df_summary.to_csv('df_summary.csv')