# Summary Statistics

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('df.csv')

In [7]:
people = ['Eddie', 'Gogo', 'MrPink', 'MrWhite', 'MrBlue', 'Joe', 'ORen', 'MrBlonde', 
          'Hattori', 'MrOrange', 'MrBrown', 'Pluribus', 'Bill', 'Budd']

games = [30, 106, 109, 108, 42, 40, 41, 43, 114, 112, 111, 53, 52, 110, 99, 50, 76, 100, 51, 
        103, 44, 75, 77, 113, 88, 64, 94, 98, 63, 96, 95, 60, 61, 45, 118, 97, 62, 78, 
        70, 73, 65, 117, 115, 89, 116, 71, 85, 86, 72, 83, 102, 104, 84, 101, 32, 33, 
        34, 91, 90, 93, 31, 35, 92, 107, 105, 87, 74]

## Count Total Hands
- Total number of hands in one game
- Total number of hands won

### explore

In [9]:
df30 = df[df['game']==30]
df30.head(1)

,Unnamed: 0,player,game,hand,preflop_action,outcome,big_blind,small_blind,hole_cards,premium_hole,chen_rank,slansky_rank,start_stack,prev_outcome,prev_outcome_loss,preflop_fold,relative_start_stack,rank_start_stack,any_blind
764,764,Pluribus,30,0,f,0.0,False,False,7cTc,False,5,9,0.0,NaN,False,True,NaN,6.0,False

In [10]:
df30Eddie = df30[df30['player']=='Eddie']
df30Eddie.head(1)

,Unnamed: 0,player,game,hand,preflop_action,outcome,big_blind,small_blind,hole_cards,premium_hole,chen_rank,slansky_rank,start_stack,prev_outcome,prev_outcome_loss,preflop_fold,relative_start_stack,rank_start_stack,any_blind
29450,29450,Eddie,30,0,f,0.0,False,False,2sQs,False,4,9,0.0,NaN,False,True,NaN,6.0,False

In [11]:
df30Eddie_hand = df30Eddie[df30Eddie['preflop_action']!='f']
df30Eddie_hand.shape

(27, 19)

In [12]:
df30Eddie_won = df30Eddie[df30Eddie['outcome']>0]
df30Eddie_won.shape

(16, 19)

### loop

In [5]:
data = []
# loop people
for player in people:
  # loop games
  for game in games:
    # extract df
    df_player_game = df[(df['game']==game) & (df['player']==player)]
    # get variables
    total_hands = df_player_game[df_player_game['preflop_action']!='f'].shape[0]
    total_hands_won = df_player_game[df_player_game['outcome']>0].shape[0]
    # create new df
    entry = []
    entry.append([player, game, total_hands, total_hands_won])
    data.extend(entry)

In [5]:
#data

In [6]:
DF = pd.DataFrame(data, columns=['player', 'game', 'total_hands', 'total_hands_won'])
DF.head()

    player  game  total_hands  total_hands_won
0    Eddie    30           27               16
1    Eddie   106            0                0
2    Eddie   109            0                0
3    Eddie   108            0                0
4    Eddie    42           31               20
..     ...   ...          ...              ...
933   Budd    92           19               11
934   Budd   107            0                0
935   Budd   105            0                0
936   Budd    87            0                0
937   Budd    74            7                5

[938 rows x 4 columns]

In [23]:
#DF.to_csv('total_number_of_hands.csv')

## Hands
- Average number of hands per game
- Median number of hands per game
- Minimum number of hands
- Maximum number of hands

### explore

In [17]:
DF[(DF['player']=='Eddie') & (DF['total_hands']!=0)].describe()

             game  total_hands  total_hands_won
count   39.000000    39.000000        39.000000
mean    66.923077    41.358974        24.589744
std     26.566089    13.991515         8.768118
min     30.000000    11.000000         3.000000
25%     43.500000    30.000000        19.500000
50%     63.000000    46.000000        25.000000
75%     91.500000    53.000000        30.000000
max    114.000000    65.000000        39.000000

### loop

In [25]:
data_hand = []
# loop people
for player in people:
    # extract df
    DF_player_game = DF[(DF['player']==player) & (DF['total_hands']!=0)]
    # get variables
    summary = DF_player_game.describe()
    average_hands_per_game = round(summary['total_hands']['mean'],2)
    median_hands_per_game = summary['total_hands']['50%']
    min_hands_per_game = summary['total_hands']['min']
    max_hands_per_game = summary['total_hands']['max']
    # create df
    entry = []
    entry.append([player,
                  average_hands_per_game, median_hands_per_game, 
                  min_hands_per_game, max_hands_per_game])
    data_hand.extend(entry)

In [29]:
#data_hand

In [30]:
df_hand = pd.DataFrame(data_hand, columns=['player', 'average', 'median', 'min', 'max'])
df_hand.head()

    player  average  median   min   max
0    Eddie    41.36    46.0  11.0  65.0
1     Gogo    27.33    27.5  22.0  31.0
2   MrPink    42.98    44.0  12.0  83.0
3  MrWhite    30.71    25.0   7.0  83.0
4   MrBlue    51.05    52.0   8.0  94.0

In [31]:
#df_hand.to_csv('player_hands.csv')